<%
@episode = Episode.find(params[:episode_id])
@assets = @scene.assets
@reel = @current_reel
%>

<%= link_to '&larr; All scenes'.html_safe, episode_path(@episode) %>

<h2>Assets for <%= @episode.title %> Scene <%= @scene.number %></h2>
<%= render 'scene' %>