<% # draggable = params[:controller] === 'reels' && params[:action] === 'edit' ? true : false %>
<div class="reel-id assets slots row">
  <% previous_asset = nil %>
  <% assets.each_with_index do |asset, index| %>
  <% if ['director', 'client'].include? params[:where] %>
    <% if previous_asset == nil || asset[params[:where]] != previous_asset %>
    <% previous_asset = asset[params[:where]] %>
    <h2><%= asset[params[:where]].to_s.titleize %></h2>
    <% end %>
  <% end %>
  <div id="slot-<%= index %>" class="slot">
    <div class="region"></div>
  </div>
  <%= render :partial => 'shared/tile', :locals => { :reel => @reel, :asset => asset } %>
  <% end %>
  <div id="slot-<%= assets.length  %>" class="slot">
    <div class="region"></div>
  </div>
</div>
