<div id="layout">
  <a class="list<%= ' active' if params['layout'] == 'list' %>" href="?layout=list">List</a>
  <a class="grid<%= ' active' unless params['layout'] == 'list' %>" href="?layout=grid">Grid</a>
</div>
