<div id="tabs">
  <%= link_to 'Designs', @episode, :class => 'item active' %>
  <%= link_to 'Scenes', episode_scenes_path(@episode), :class => 'item' %>
</div>

<%= render :partial => 'shared/layout', :locals => { :layout => params['layout'] } %>
<%= render :partial => 'shared/assets', :locals => { :assets => @assets } %>
