<%= link_to '&larr; All episodes'.html_safe, episodes_path %>

<h2><%= @episode.title %>'s Scenes</h2>

<% @episode.scenes.each_with_index do |scene, index| %>
  <h3><%= link_to scene.number, episode_scene_path(@episode, scene) %></h3>
<% end %>
