<%# render :partial => 'shared/assets', :locals => { :assets => @assets }%>
<div class="reel-id assets slots row list-view">
	<!-- <h2>My Queue</h2> -->

	<!-- <div id="slot-" class="slot">
	<div class="region"></div>
	</div> -->

	<div id="asset-" class="asset animation" draggable="true">
		<a href="#" id="asset-" class="reel add">Add to Reel</a>
		<div title="" class="title">1 My asset title</div>

		<div class="asset-workflow row">
		<%# if %>
		    <%# if checked out %> 
		      	<div class="checkout asset-state">out</div>
		      	<p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p>
		    <%# else %>
		      	<!-- <div class="checkin asset-state">
		      	<a href="">Download Asset</a>
		      	<%# link_to 'Download Asset', asset_download_path(asset) %>
		      	</div> -->
		      	<%# if assigned %>
		      	<!-- <p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		      	<%# end %>
		   	<%# end %>
		  <%# end %>
		</div>
	</div>

	<!-- 2 -->	
	<div id="asset-" class="asset animation" draggable="true">
		<a href="#" id="asset-" class="reel add">Add to Reel</a>
		<div title="" class="title">2. My asset title</div>

		<div class="asset-workflow row">
		<%# if %>
		    <%# if checked out %> 
		      	<!-- <div class="checkout asset-state">out</div>
		      	<p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		    <%# else %>
		      	<div class="checkin asset-state">
		      	<a href="">Download Asset</a>
		      	<%# link_to 'Download Asset', asset_download_path(asset) %>
		      	</div>
		      	<%# if assigned %>
		      	<!-- <p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		      	<%# end %>
		   	<%# end %>
		  <%# end %>
		</div>
	</div>

	<!-- 3 -->	
	<div id="asset-" class="asset setup" draggable="true">
		<a href="#" id="asset-" class="reel add">Add to Reel</a>
		<div title="" class="title">3. My asset title</div>

		<div class="asset-workflow row">
		<%# if %>
		    <%# if checked out %> 
		      	<!-- <div class="checkout asset-state">out</div>
		      	<p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		    <%# else %>
		      	<div class="checkin asset-state">
		      	<a href="">Download Asset</a>
		      	<%# link_to 'Download Asset', asset_download_path(asset) %>
		      	</div>
		      	<%# if assigned %>
		      	<p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p>
		      	<%# end %>
		   	<%# end %>
		  <%# end %>
		</div>
	</div>

	<!-- 4 -->	
	<div id="asset-" class="asset layout" draggable="true">
		<a href="#" id="asset-" class="reel add">Add to Reel</a>
		<div title="" class="title">4. My asset title</div>

		<div class="asset-workflow row">
		<%# if %>
		    <%# if checked out %> 
		      	<!-- <div class="checkout asset-state">out</div>
		      	<p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		    <%# else %>
		      	<div class="checkin asset-state">
		      	<a href="">Download Asset</a>
		      	<%# link_to 'Download Asset', asset_download_path(asset) %>
		      	</div>
		      	<%# if assigned %>
		      	<!-- <p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		      	<%# end %>
		   	<%# end %>
		  <%# end %>
		</div>
	</div>

	<!-- 5 -->	
	<div id="asset-" class="asset animation" draggable="true">
		<a href="#" id="asset-" class="reel add">Add to Reel</a>
		<div title="" class="title">5. My asset title</div>

		<div class="asset-workflow row">
		<%# if %>
		    <%# if checked out %> 
		      	<div class="checkout asset-state">out</div>
		      	<p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p>
		    <%# else %>
		      	<!-- <div class="checkin asset-state">
		      	<a href="">Download Asset</a>
		      	<%# link_to 'Download Asset', asset_download_path(asset) %>
		      	</div> -->
		      	<%# if assigned %>
		      	<!-- <p class="assigned-to">Chet Earl Woodside Chet Earl Woodside</p> -->
		      	<%# end %>
		   	<%# end %>
		  <%# end %>
		</div>
	</div>

	<!-- <div id="slot-" class="slot">
	<div class="region"></div>
	</div> -->
</div>

<style>
.slot { border: 1px solid blue;}
</style>