/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this diatory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require layout
 *= require skeleton
 *= require_self
 *= require assets
 *= require reels
 *= require users
 *= require scaffolds
 *= require jquery-ui-autocomplete
 */

@font-face {
  font-family: Transit;
  src: url("transit/TransitWebPro.eot?") format('eot'), url("transit/TransitWebPro.woff") format("woff");
}

@font-face {
  font-family: Clarendon;
  src: url("clarendon/c070002tWeb.eot?") format('eot'), url("clarendon/c070002tWeb.woff") format("woff");
}
@font-face {
  font-family: Clarendon;
  font-weight: bold;
  src: url("clarendon/c070004tWeb.eot?") format('eot'), url("clarendon/c070004tWeb.woff") format("woff");
}

body { margin-top: 160px; }

body, p, ol, ul, td, input[type="text"], input[type="email"], 
input[type="password"], textarea, select {
  font-family: Transit;
  font-size: 20px;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Clarendon;
  font-weight: bold;
}

time { border-bottom: 1px dotted #999; }

table th {
  font-weight: bold;
  text-align: left;
}
table th, table td {
  padding-right: 10px;
  min-width: 50px;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea, 
select { padding: 5px 10px; } 

nav ul { margin-bottom: 0px; }
nav li { display: inline-block; }
nav .disc li { display: list-item; }

footer { clear: both; }

/* ---------------
?????
--------------- */
#empty-reel,
#create-reel {
  display: none;
  padding: 10px 10px 15px 10px;
  /*position: relative;
  left: 0;*/
}
#empty-reel.show,
#create-reel.show {
  display: block;
}

.top-bar {
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  width: 100%;
  height: 123px;
  padding: 0;
  color: #fff;
  border-bottom: 5px solid #000;
  background:rgb(90,90,90) url(public_reel/images/rust.jpg) bottom center repeat-x;
}
.top-bar nav:first-child { position: relative; width: 950px; margin: 0 auto 20px auto; }
.top-bar nav .row:first-child { height: 50px; margin: 0; }

ul[id="primary"] { font-size: 23px; }
ul[id="primary"] { float: right; margin: 13px 131px 0 0; }
ul[id="primary"] li { margin-right: 10px; }

ul[id="secondary"] { float: left; width: 430px; margin-left: -21px; font-weight: bold; }
ul[id="secondary"] li { margin: 0; padding: 10px 10px 15px 10px; }
ul[id="secondary"] li form { display: none; }
ul[id="secondary"] .open { position: relative; }
ul[id="secondary"] .open form {
  width: 264px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 52px;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
ul[id="secondary"] .open input[type="text"],
ul[id="secondary"] .open input[type="submit"] { width: 266px; margin-bottom: 10px;  }
ul[id="secondary"] .open input[type='text'] { display: inline-block; width: 244px; }
ul[id="secondary"] .open input[type="submit"] { margin-bottom: 0; }
ul[id="secondary"] .button { width: 244px; margin-bottom: 30px; }

.drawer { 
  position: absolute; 
  top: 7px;
  right: -16px;
  border: 1px solid #777; 
}

.drawer .beta { text-align: center; }

.drawer .title { margin-bottom: 12px; font-weight: bold; }
.drawer .reels {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  color: #333;
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
.drawer.open .reels { display: block; }
.drawer.open #open-reel { background: #fafafa; box-shadow: 2px 2px 2px rgba(0,0,0, 0.35); }

.drawer .disc { margin:0 0 0 15px; padding:0; }
.drawer .disc li { font-size: 14px; }

.drawer .button { margin-bottom: 0; }

.utilities { position: absolute; width:100%; margin-left:-10px; }

.filters {
  float: left;
  width: 165px; 
  margin: 14px 20px 0 0; 
  padding: 5px; 
  background: #000;
  border: 1px solid #777;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}

.filters ul { float:left; width:165px; }
.filters li { display: block; margin: 0; }
.filters li:nth-child(1n+2) { display:none; }
 
.open.filters { background: #fafafa; border:none; border:1px solid rgb(240,240,240);}
.open.filters ul { background: #fafafa; }
.open.filters li { border-bottom: 1px solid #e6e6e6; }
.open.filters li:first-child { font-weight:bold; border-bottom:none; }
.open.filters li:nth-child(1n+2) { display:block; }
.open.filters li:last-child { border-bottom: none; }

#asset-search {
  float: left;
  width: 230px;
  margin: 14px 20px 0 0;
}
#asset-search input { font-family: Clarendon; border: none; }

/* States */
.notice {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.25);
}

.alert {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.25);
}

.top-bar a { font-family: Clarendon; color: #fff; }
.top-bar a:visited { color: #fff; }
.top-bar a:hover { background: inherit; }

.top-bar .button,
.top-bar .button:visited { color: #f7f4d6; }

ul[id="secondary"] a:first-child { font-size: 35px; color: #f7f4d6; }
ul[id="secondary"] a:last-child { 
  display:inline-block;
  padding: 3px;
  font-size: 45px;
  text-decoration: none;
  color: #f7f4d6;
}
ul[id="secondary"] .open a[id="create-reel"] { 
  background: #fafafa; 
  color: #333; 
  text-decoration: none; 
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35); 
}

a[id="open-reel"] {
  display: inline-block;
  padding: 5px 10px 7px 10px;
  font-size: 19px;
  text-decoration: none;
  font-weight: bold;
  color: #f7f4d6;
  background: #000;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
a[id="open-reel"]:hover { background: #000; }
a[id="open-reel"]:visited { color: #f7f4d6; }
.open a[id="open-reel"] { color: #333; }

.drawer .disc a { 
  display: block; 
  font-family: Transit;
  font-size: 20px; 
  color: #333; 
}

.filters li a { display: block; padding: 4px 5px 6px; text-decoration: none; }
.filters li:first-child a { text-align: center; font-weight: bold; color: #f7f4d6; }
.filters li:nth-child(1n+2) a { font-family: Transit; }

.open.filters li a { padding: 8px 5px 12px; color: #333; }
.open.filters li:first-child a:hover { background: #fafafa; color: #333; }
.open.filters li a:hover,
.open.filters li a.active { background: #000; color: #f7f4d6; font-weight: bold; }

/* Skeleton button override */
a.button,
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding: 10px 10px 8px 10px;
  color: #f7f4d6;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 rgba(255, 255, 255, .75);
  background: #000;
  border: 1px solid #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

a.button:hover,
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover { color: #f7f4d6; border:1px solid #000; background: #000; }
