/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require layout
 *= require skeleton
 *= require_self
 *= require assets
 *= require reel
 *= require scaffolds
 */

@font-face {
  font-family: Transit;
  src: url("transit/TransitWebPro.eot?") format('eot'), url("transit/TransitWebPro.woff") format("woff");
}

@font-face {
  font-family: Clarendon;
  src: url("clarendon/c070002tWeb.eot?") format('eot'), url("clarendon/c070002tWeb.woff") format("woff");
}
@font-face {
  font-family: Clarendon;
  font-weight: bold;
  src: url("clarendon/c070004tWeb.eot?") format('eot'), url("clarendon/c070004tWeb.woff") format("woff");
}

body { margin-top: 160px; }

body, p, ol, ul, td, input[type="text"], input[type="email"], 
input[type="password"], textarea, select {
  font-family: Transit;
  font-size: 20px;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Clarendon;
  font-weight: bold;
}

time { border-bottom: 1px dotted #999; }

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea, 
select { padding: 5px 10px; } 

nav ul { margin-bottom: 0px; }
nav li { display: inline-block; }
nav .disc li { display: list-item; }

footer { clear: both; }

/* ---------------
?????
--------------- */
#empty-reel,
#create-reel {
  display: none;
  padding: 10px 10px 15px 10px;
  /*position: relative;
  left: 0;*/
}
#empty-reel.show,
#create-reel.show {
  display: block;
}

.top-bar {
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  /*background: rgba(240, 240, 240, 0.95);*/
  border-bottom: 5px solid #000;
  background: url(public_reel/images/rust.jpg) top center repeat-x;
}
.top-bar nav:first-child { position: relative; width: 950px; margin: 0 auto 20px auto; }

ul[id="primary"] { font-size: 23px; }
ul[id="primary"] { float: right; margin: 12px 131px 0 0; }
ul[id="primary"] li { margin-right: 10px; }

ul[id="secondary"] { float: left; margin-left: -11px; font-size: 35px; font-weight: bold; }
ul[id="secondary"] li form { display: none; }
ul[id="secondary"] .open { position: relative; }
ul[id="secondary"] .open form {
  width: 264px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 40px;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
ul[id="secondary"] .open input[type="text"],
ul[id="secondary"] .open input[type="submit"] { width: 266px; margin-bottom: 10px;  }
ul[id="secondary"] .open input[type='text'] { display: inline-block; width: 244px; }
ul[id="secondary"] .open input[type="submit"] { margin-bottom: 0; }
ul[id="secondary"] .button { width: 244px; margin-bottom: 30px; }

.drawer { 
  position: absolute; 
  top: 5px;
  right: -16px;
  border: 1px solid #777; 
}
.drawer .title { margin-bottom: 12px; }
.drawer .reels {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  color: #333;
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
.drawer.open .reels { display: block; }
.drawer.open #open-reel { background: #fafafa; box-shadow: 2px 2px 2px rgba(0,0,0, 0.35); }






/* States */
.notice {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.25);
}

.alert {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.25);
}

.top-bar a { font-family: Clarendon; color: #fff; }
.top-bar a:visited { color: #fff; }
.top-bar a:hover { background: inherit; }

.top-bar .button,
.top-bar .button:visited { color: #f7f4d6; }

ul[id="secondary"] a { color: #f7f4d6; }
ul[id="secondary"] .open a[id="create-reel"] { 
  background: #fafafa; 
  color: #333; 
  text-decoration: none; 
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35); 
}

a[id="open-reel"] {
  display: inline-block;
  padding: 5px 10px 7px 10px;
  font-size: 19px;
  text-decoration: none;
  font-weight: bold;
  color: #f7f4d6;
  background: #000;
}
a[id="open-reel"]:hover { background: #000; }
a[id="open-reel"]:visited { color: #f7f4d6; }
.open a[id="open-reel"] { color: #333; }

/* Skeleton button override */
a.button,
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding: 10px 10px 8px 10px;
  color: #f7f4d6;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 rgba(255, 255, 255, .75);
  background: #000;
  border: 1px solid #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

a.button:hover,
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover { color: #f7f4d6; border:1px solid #000; background: #000; }