/* 
Asset default
  Asset workflow
Asset extended
  Asset tile nav
  Media tile
  Details tile
  Versions tile
  Downloads tile
Asset list views
Asset dragged
Asset search, filters & results
Asset add, edit, delete forms
Asset upload modal 
Asset multiple upload 
Progress bar
*/

/* -------
Asset default 
------- */
.assets h2 {
  /*clear: both;
  padding-top: 1em;
  padding-left: 5px;*/
}
.asset  {
  color: #222;
  background: #eee;
  width: 188px;
  height: 146px;
  position: relative;
  display: block;
  float: left;
  margin: 0 2px 4px 2px;
  line-height: 21px;
}

.slots .asset { margin: 10px 0 4px 0; }

.asset .title {
  display: block;
  font-size: 16px;
  width: 143px;
  padding: 11px 0 8px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.asset .reel {
  -webkit-transition: background-position-y, background-color 0.1s linear;
  background: #eee url('/assets/ui/add-remove.png') no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -9999px;
}
.asset .reel.loading { background-color: #ddd; }
.asset .reel.add { background-position: top left; }
.asset .reel.add:hover { background-position: top right; }
.asset .reel.remove { background-position: bottom left; background-color: rgba(33,33,33, .7); }
.asset .reel.remove:hover { background-position: bottom right; }

.asset .default { cursor: pointer; }
.asset .default.preview { width: 188px; height: 106px; }
.asset video.default { width: 100%; }
.asset .video-js.preview { width: 188px; height: 106px; vertical-align: baseline; }

/* Asset workflow */
.look-at-me { display: none }
.asset.submitted .look-at-me,
.asset.approved-denny .look-at-me,
.asset.revision .look-at-me { 
  z-index: 10;
  display: block;
  position: absolute;
  top: 40px;
  width: 188px;
  height: 75px;
  background: url('/assets/ui/all-seeing-eye-big.gif') center center no-repeat;
  background-size: 144px 113px; 
}
.asset.approved-denny .look-at-me { background-image: url('/assets/ui/approved-big.gif'); }
.asset.revision .look-at-me { background-image: url('/assets/ui/revision-big.png'); }

.submitted.open .look-at-me,
.approved-denny.open .look-at-me,
.revision.open .look-at-me { display: none; }

.asset.setup .title,
p.setup { background: #f39bbb; }
.asset.layout .title,
p.layout { background: #f1e662; }
.asset.posing .title,
p.posing { background: #aa99f0; }
.asset.animation .title,
p.animation { background: #3ed9d0; }

.asset-workflow {
  position: absolute;
  top: 117px;
}
.asset-workflow > div,
.asset-workflow > p { 
  display: inline-block;
  float: left;
  /*padding: 5px 5px 3px;*/ 
  font-size: 14px; 
  font-weight: bold; 
}

.asset-state { color: #fff; background-color: rgba(33,33,33, .5); }
.checkin a { 
  display: inline-block; 
  width:28px; 
  padding: 5px 5px 3px;
  text-indent: -9999em;
  background: rgba(33,33,33, .5) url('/assets/ui/arrow-down.png') 0 0 no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.checkin a:hover { background-color: rgba(0,0,0,1); }

.checkout { padding: 5px 5px 3px; text-transform: uppercase; }
.checkout a { display: none; }

.assigned-to { 
  width: 140px; 
  margin-bottom: 0; 
  padding: 5px 5px 3px;
  line-height: 21px; 
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
  color: #555;
  white-space: nowrap; 
  background-color: rgba(255,255,255, 0.7); 
}

/* -------  
Asset extended 
------- */
.asset .extended { display: none; }
.asset.open .extended {
  width: 764px; /* (188px * 4) tiles + (4px * 3) slots */
  height: 466px; /* 146px *  3) tiles + (14px * 2) margins */
  display: block;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0px 0px 30px #000;
}
.assets .asset:nth-child(10n+6) .extended { left: -192px; /* -188px - 4px */ }
.assets .asset:nth-child(10n+8) .extended { left: auto; right: 0; }
.assets .asset:nth-child(10n+10) .extended { left: auto; right: 0; }

.asset .extended .title { width: 719px; }

.extended form { width:400px; }

.extended input[type="text"] { 
  width: 100%;
  height: 30px; /* Firefox fun */
  margin: 10px; 
  padding: 5px 5px 3px 5px; 
  font-size: 16px; 
}

.tab-tile { height: 346px; /* Bottom margin of 10px */ padding: 10px; background: rgb(210,210,210); }

.tile { 
  display:none;
  position: relative; 
  width: 744px; 
  height: 346px; 
  padding: 0; 
  overflow: auto;
}

.tile.media { 
  background: url('/assets/ui/loading.gif') center center no-repeat; 
}

.tile.media .detail { margin-bottom: 0; text-align: center; }

.tile.media img { height: 346px; cursor: url(/assets/ui/zoom-in.png),auto; background: #d2d2d2; }
.tile.media .fullsize { width: inherit; height: inherit; cursor: url(/assets/ui/zoom-out.png),auto; }

/* Asset tile nav */
.asset-utilities { float: right; width: 160px; }
.asset-utilities ul { float: left; padding: 0; }
.asset-utilities li { float: left; margin: 0; padding: 0; }

.asset-utilities a { 
  display: block; 
  width: 40px; 
  height: 50px; 
  margin: 0; 
  padding: 0; 
  text-indent:-9999em;
  text-align: center;
}
.asset-utilities a { background: url('/assets/ui/utility-tabs.png'); }
.asset-utilities a[href="#download"] { background-position: 0 0; }
.asset-utilities a[href="#versions"] { background-position: 0 -50px; }
.asset-utilities a[href="#details"] { background-position: 0 -100px; }
.asset-utilities a[href="#video"] { background-position: 0 -150px; }

.asset-utilities a:hover,
.asset-utilities a.active { background-color: rgb(210,210,210); }

/* Media tile */
.extended video { 
  width: 360px; 
  height: 176px;
  margin: 0; 
  background: #000;
  /*border: 2px solid #000;*/
}
.extended video.default { border: 0; }

/* Details tile */
.extended .edit form {
  width: 740px;
  margin-bottom: 0;
}
.extended .edit form .row {
  margin: 7px 0;
  padding: 8px 0;
  border-bottom: 1px solid #777;
}
.extended .edit form .row.last {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.extended .edit form .row.first {
  /*padding-top: 0;*/
  margin-top: 0;
}
.extended .edit form .column {
  float: left;
  width: 33%;
  margin: 0;
}
/* First row */
.extended .edit form .button {
  margin-bottom: 10px;
}
.extended .edit form .button:visited {
  color: #f7f4d6;
}
.extended .edit form input[id="asset_asset"],
.extended .edit form input[id="asset_preview"] {
  margin-bottom: 8px;
  font-size: 12px;
}
.extended .edit form .edit-button { float: right; }
/* Second row */
.extended .edit form #asset_swatch {
  display: inline-block;
  width: auto;
}
.extended .edit form select {
  width: 200px;
  padding: 0;
  margin: 0 0 5px;
}
.extended .edit form #asset_user_id {
  width: 206px;
}
.extended .edit form .status-row {
  margin-top: 3px;
  margin-bottom: 25px;
}
.extended .edit form .status input {
  margin-bottom: 0;
  margin-left: 0;
}
.extended .edit form .status label.inline {
  line-height: 31px;
  width: 170px;
}
/* Third row */
.extended .edit form textarea {
  margin-bottom: 0;
  min-width: 580px;
  height: 60px;
}
.extended .edit form input[type="submit"] {
  padding: 23px;
  margin-bottom: 0;
  float: right;
}

/* Versions tile */

/* Listing */
.detail-list > .row { margin-bottom: 10px; }

.detail-list .asset-workflow { 
  position: relative;
  top: 0;
  float: left;
  width: 226px; 
  margin: 0;
  padding: 5px; 
  background: rgb(255,255,255); 
}
.detail-list .checkout,
.detail-list .checking { background: rgb(99,99,99) }
.detail-list .assigned-to { height: 18px; } 

.detail-list .summary { 
  float: left; 
  margin: 0; 
  width: 497px; 
  padding: 10px 5px 5px 5px; 
}

.detail-list .time-placement { /*float: right*/ }

/* Tables */
.extended table { 
  position: relative; 
  width: 100%; 
  border-left: 1px solid rgb(170,170,170);
}

.extended caption {  
  padding:5px; 
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgb(170,170,170);
}

.extended table thead tr { background: rgb(190,190,190); }

.extended table th,
.extended table td { 
  padding: 9px 5px 5px 5px;
  text-align: left;
  font-size: 16px; 
  border-right: 1px solid rgb(170,170,170);
  border-bottom: 1px solid rgb(170,170,170);
}
.extended tr:nth-of-type(2n+2) td { background:rgb(230,230,230) }

/* Downloads tile */
.extended .downloads { 
  margin: 100px auto 0; 
  width: 250px;
  text-align: center; }
.downloads .button { 
  display: block;
  position: inherit;
  width: 250px;
  margin-bottom: 10px;
  padding:10px;
  float: none;          
  font-size: 24px;
  border: 1px solid rgb(120,120,120); 
}
.extended .detail { margin-bottom: 100px; }

.extended .edit_asset { margin-bottom: 0; }
.extended .edit_asset input { /*width: 272px;*/ }

.tile.open { display: block; }

.extended .edit_asset input {
  -webkit-transition: background 0.2s ease-out;
}
.extended .edit_asset.active input {
  background: rgba(0, 255, 0, 0.25);
  -webkit-transition: none;
}
.extended .edit_asset.error input {
  background: rgba(255, 0, 0, 0.25);
}

.extended .video-js { width: 100%; height: 100%; }

/* ???? [START] */

.asset.open .reel { right: -576px; z-index: 30; }
.assets .asset:nth-child(10n+6).open .reel { right: -384px; }
.assets .asset:nth-child(10n+8).open .reel { right: 0; }
.assets .asset:nth-child(10n+10).open .reel { right: 0; }

.slot {
  display: block;
  float: left;
  width: 0px;
  border-right: 4px dashed transparent; 
  margin-right: 0px;
  margin-top: 10px;
  height: 146px;
  position: relative;
}
.slot.active { border-right: 4px solid red; }

.slot .region {
  cursor: default;
  display: none;
  width: 100px;
  left: -48px;
  height: 146px;
  top: 0;
  z-index: 100;
  position: absolute;
}
.slot:last-child .region { width: 238px; left: -48px; }

.assets.dragging .slot .region { display: block; }
.controller-assets.action-index .slot:last-child {
  height: 0px;
}

/* ???? [END] */


/* -------
Asset list view
------- */
.list-view .asset { width: 455px; height: 70px; margin: 10px 46px 0 0; }
.list-view .asset:nth-child(2n) { margin-right: 0; }
.list-view .asset:nth-child(2n) .extended {
  right: 0;
  left: auto;
}
.list-view .asset:nth-child(2n).open .reel { right: 0; }

.list-view .title { width: 410px; }

.list-view .asset.open .extended { width: 950px; height: 469px; }

.list-view .extended .title { width: 410px; }

.list-view .tile { width: 930px; height: 469px; }

.list-view .extended .downloads { margin: 10px auto 0; width: 200px; text-align: center; }
.list-view .downloads .button { 
  /*display: block;*/
  position: inherit;
  width: 175px;
  margin-bottom: 10px;
  padding:10px;
  float: none;
  font-size: 16px;
  border: 1px solid rgb(120,120,120); 
}

.list-view .asset.open .reel { right: 0px; z-index: 2; }

.list-view .asset.open .extended { width: 956px; height: 549px; }
.list-view .asset.open .reel { right: -501px; z-index: 30; }
.list-view .extended .title { width: 911px; }

.list-view .tab-tile { height: 439px; }

.list-view .tile { width: 930px; height: 438px; } /* width: 950 - 10px -10px padding */
.list-view .tile.media img { height: 433px; }
.list-view .tile.media .fullsize { width: inherit; height: inherit; }

.list-view .extended .downloads { margin: 10px auto 0; width: 200px; text-align: center; }
.list-view .downloads .button { 
  /*display: block;*/
  position: inherit;
  width: 175px;
  margin-bottom: 10px;
  padding:10px;
  float: none;          
  font-size: 16px;
  border: 1px solid rgb(120,120,120); 
}

.list-view .detail-list .asset-workflow { width: 146px; padding-bottom: 4px;}
.list-view .detail-list .assigned-to { width: 60px; }
.list-view .detail-list .summary { width: 250px; font-size: 14px; }

.list-view .extended table { /*width: 96%;*/ }

.list-view .extended input[type="text"] { 
  width: 67%;
  padding: 0 5px;
  margin-bottom: 0;
}

/* Asset list view workflow ggg*/
.list-view .asset.submitted .look-at-me,
.list-view .asset.approved-denny .look-at-me,
.list-view .asset.revision .look-at-me { 
  top: 0;
  left: 160px;
  width: 130px;
  height: 70px;
  background-size: 116px 91px;
}
.list-view .submitted.open .look-at-me,
.list-view .approved-denny.open .look-at-me,
.list-view .revision.open .look-at-me { display: none; }

.list-view .asset > .asset-workflow { top: 40px; }
.list-view .checkin { background-color: rgba(33,33,33,.1); }
.list-view .assigned-to { width: 407px; padding-bottom: 4px; }

/* -------
Asset dragged 
------- */
body.controller-reels.action-edit .asset,
body.controller-reels.action-edit .asset img {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

.asset.dragged { opacity: 0.4; }

/* ------ 
Asset search, filters & results
------- */
#asset_search { margin-bottom: 0; }

#asset_search #where,
#asset_search .facet,
#asset_search input[type='submit'] { display: inline-block; }
#asset_search .facet { display: none; }
#asset_search .facet.show { display: inline-block; }

.result-headers { 
  width: 960px; 
  margin: 40px 0 20px -5px; 
  padding: 2px 9px 7px; 
  color: #333;
  background: #eee; 
}
.result-headers:first-child { /*margin: 0 0 20px -5px;*/ }

.result-headers.result-new { background: transparent; }
.result-headers a:hover,
.result-headers a:visited { color: #333; background: #eee; }

.result-headers .actions {
  font-size: 18px;
  float: right;
}

/* -------
Asset add, edit, delete forms
------- */
.asset-form .fieldset {
  background: #efefef;
  padding: 15px 20px;
  margin: 40px 0;
}
.asset-form h1 {
  padding: 10px 20px;
}
.asset-form #new-version {
  padding: 15px 0px;

}
.edit-back {
  margin: 30px 0px;
  display: block;
}
.asset-form input,
.asset-form textarea,
.asset-form select { font-size: 20px; margin-bottom: 22px; }

.asset-form textarea,
.asset-form input[type="text"],
.asset-form input[type="file"] { min-width: 500px; }

.asset-form .inline,
.asset-form input[type="text"].inline { display: inline-block; width: 228px; margin: 0; }

.asset-form label[for="asset_asset"],
.asset-form label[for="asset_preview"],
.asset-form label[for="asset_preview_swf"] { 
  height: 35px;
  margin:20px 0 0;
  padding: 0;
  font-size: 20px;
}
.asset-form label[for="asset_asset"] .button,
.asset-form label[for="asset_preview"] .button,
.asset-form label[for="asset_preview_swf"] .button {
  display: block;
  color:#333;
  border: rgb(230,230,230);
  background: rgb(230,230,230);
}
.asset-form label[for="asset_asset"] .button:hover,
.asset-form label[for="asset_preview"] .button:hover,
.asset-form label[for="asset_preview_swf"] .button:hover { cursor: pointer; }

.asset-form input[id="asset_asset"],
.asset-form input[id="asset_preview_swf"],
.asset-form input[id="asset_preview"] { 
  width: 126px;
  margin-bottom: 20px;
}

.asset-form select[multiple=multiple] { width: 520px; }

.asset-form .preview { display: block; margin: 10px 0; }

.asset-form label[for="asset_submitted"] {
  background: url('/assets/ui/all-seeing-list.gif') left top no-repeat;
  background-size: 29px 28px;
  padding-left: 35px;
}
.asset-form label[for="asset_approved"] {
  background: url('/assets/ui/approved-list.gif') left top no-repeat;
  background-size: 29px 28px;
  padding-left: 35px;
}
.asset-form label[for="asset_revision"] {
  background: url('/assets/ui/revision-list.png') left top no-repeat;
  background-size: 29px 28px;
  padding-left: 35px; 
}
.asset-form label[for="asset_checked_out"] {
  background: url('/assets/ui/utility-tabs.png') left -7px no-repeat;
  background-size: 29px 141px;
  padding-left: 35px;  
}

#asset_status {
  margin: 0;
}
#asset_swatch {
  padding: 6px;
  width: 220px;
  margin-bottom: 5px;
}
#asset_swatch.setup { background: #f39bbb; }
#asset_swatch.layout { background: #f1e662; }
#asset_swatch.posing { background: #aa99f0; }
#asset_swatch.animation { background: #3ed9d0; }
#asset_swatch.approved { }

/* -------
Asset upload modal 
------- */
div[id="upload-form"] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}
body.drop div[id="upload-form"] {
  display: block;
}

div[id="upload-form"] .inner {
  width: 520px;
  background: white;
  margin: 80px auto;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

body.drop { overflow: hidden; }

/* -------
Asset multiple upload 
------- */
.meta img { float: left; margin-right: 10px; }

.asset-uploads header { position:inherit; padding:0; background:#fff; }
.asset-uploads header .title div { 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.asset-uploads > div { clear: both; margin: 0; padding: 10px 10px 1px; }
.asset-uploads > div:nth-child(2n+1),
.asset-uploads > div:nth-child(2n+1) header { background: #eee !important; /*temp hack */ }
.asset-uploads > div:last-child { margin-bottom: 20px; }

.asset-uploads > div .override { display: none; clear: both; }
.asset-uploads > div.show .override { display: block; }
.asset-uploads > div.success header { background: green; }

/*.asset-uploads .image { float: left; }
.asset-uploads .title { margin-left: 90px; }*/

.asset-uploads .asset-form input[type="text"],
.asset-uploads .asset-form textarea { min-width: 480px; }
.asset-uploads .asset-form select:first-child { margin-top: 30px !important; /*temp hack*/ }

/* -------
Media queries
------- */
@media all and (min-width:320px) and (max-width:959px) {
  .list-view .asset { margin-left: 0; }
}

@media all and (min-width:1440px) {
  .assets .asset:nth-child(10n+6) .extended { left: 0; }
  .assets .asset:nth-child(10n+8) .extended { left: 0; }
  .assets .asset:nth-child(10n+10) .extended { left: 0; }
  .assets .asset:nth-child(10n+6).open .reel { right: -576px; }
  .assets .asset:nth-child(10n+8).open .reel { right: -576px; }
  .assets .asset:nth-child(10n+10).open .reel { right: -576px; }

  .assets .asset:nth-child(14n+10) .extended,
  .assets .asset:nth-child(14n+12) .extended,
  .assets .asset:nth-child(14n+14) .extended { left: auto; right: 0; }

  .assets .asset:nth-child(14n+6).open .reel,
  .assets .asset:nth-child(14n+8).open .reel { right: -576px; }
  
  .assets .asset:nth-child(14n+10).open .reel,
  .assets .asset:nth-child(14n+12).open .reel,
  .assets .asset:nth-child(14n+14).open .reel { right: 0; }

  .result-headers { width: 1347px; }

  .list-view .asset { width: 420px; height: 70px; margin: 10px 40px 0 0; }
  .list-view .asset:nth-child(2n) { margin-right: 40px; }
  .list-view .asset:nth-child(3n) { margin-right: 0; }
  .list-view .asset:nth-child(2n) .extended {
    left: 0;
    right: auto;
  }
  .list-view .asset:nth-child(2n).open .reel {
    right: -460px;
  }
  .list-view .asset:nth-child(3n) .extended {
    right: 0;
    left: auto;
  }
  .list-view .asset:nth-child(3n).open .reel { right: 0; }

  .list-view .title { width: 375px; } 

  .list-view .assigned-to { width: 372px; padding-bottom: 4px; }  

  .list-view .asset.open .extended { width: 880px; }
  .list-view .asset.open .reel { right: -460px; }

  .list-view .extended .title { width: 375px }

  .list-view .tile { width: 860px; } /* 880px - 10px -10px padding */

  .list-view .extended input[type="text"] { width: 57%; }

  .list-view .asset.submitted .look-at-me,
  .list-view .asset.approved-denny .look-at-me,
  .list-view .asset.revision .look-at-me { left: 154px; }

  .list-view .extended .title { width: 835px; }
  .list-view .extended .downloads { margin: 20px auto 0; }

  .list-view .detail-list .asset-workflow { width: 146px; padding-bottom: 4px;}
  .list-view .detail-list .assigned-to { width: 60px; }
  .list-view .detail-list .summary { width: 219px; font-size: 14px; }

}

/* -------
Progress bar
------- */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}
.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


/* Scratch */
        .asset.submitted .detail-list .look-at-mess {
          width: 462px;
          padding: 10px 5px 5px 40px;
          background: url('/assets/ui/all-seeing-eye-big.gif') 0 0 no-repeat;        }
